<!-- <ng-template ngIf="lightClass">
  <p>Btn is cool</p>
</ng-template> -->

<!-- top quote -->

<!-- <h1>Hello {{ name.toUpperCase() }}</h1> -->
<!-- using angular's pipes -->
<h2>{{ getQuote() | titlecase }}</h2>

<div class="imgs-container">
  <!-- using ngFor directive for looping through all the images stored in the app's class -->
  <app-post
    *ngFor="let img of images; let i = index"
    [img]="img"
    (imgSelected)="logImg($event)"
    ><p>House #{{ i }}</p></app-post
  >
</div>

<div class="details-container">
  <h3>Some details to consider</h3>
</div>
<!-- shortcut for adding ng-template -->
<!-- <div *ngIf="ptsToGrif">
  <img src="../assets/dubledore.png" alt="" />
  <p>50 pts to gryffindor</p>
</div>

<button
  (click)="ptsToGrif = !ptsToGrif"
  [ngClass]="{ lightenbg: ptsToGrif }"
  [ngStyle]="{ 'font-size.px': fontSize }"
  class="color-toggle-btn"
>
  Magic
</button>
<hr /> -->

<!-- <div class="whole-container"> -->
<!-- event and property binding keyup, value -->
<!-- <input
    class="url-input"
    type="text"
    placeholder="New image URL"
    (keyup)="changeImage($event)"
    [value]="imgUrl"
  /> -->
<!-- <img src="{{ imgUrl }}" alt="" /> -->
<!-- property binding -->
<!-- passed to the child post component -->
<!-- <img [src]="imgUrl" alt="" /> -->
<!-- child component, with property binding for passing the value from the parent to child -->
<!-- <app-post [postImg]="imgUrl"></app-post> -->
<!-- We have defined an alias prop name (img) in the child component -->
<!-- <app-post [img]="imgUrl" (imgSelected)="logImg($event)"
    ><p>Welcome to the hogwarts</p></app-post
  > -->

<!-- <p>Min application age: {{ 10 + 1 }}</p> -->
<!-- Below DatePipe was used -->
<!-- <p>Date: {{ currentDate | date: "dd/LL/y h:m:s" }}</p> -->
<!-- <p>Current date: {{ currentDate | date: "medium" }}</p> -->
<!-- currency pipe formatting -->
<!-- <p>Annual tution fee: {{ cost | currency: "GBP" }}</p> -->
<!-- decimal pipe formatting -->
<!-- <p>Min required pts to pass an exam: {{ testResult | number: "1.2-5" }}</p> -->
<!-- json pipe -->
<!-- <pre>
    {{ characters | json }}
  </pre> -->
<!-- </div> -->
